@import url('http://font.googleapis.com/cdd?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
img{
    height:230px;
    width: 200px;
    /* border-radius: 5px; */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;

}
.box{
    
    position: relative;
    height: 250px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;}
.box:hover{
    height: 300px;
    transition: 0.3s;
    
    /* background: cadetblue; */
}
.box .imgBx{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.box .imgBx img{
    
    /* border-radius: 5px; */
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s
   
}

.box:hover .imgBx img{
    opacity: 1;
}

.box:before{
    /* border-radius: 5px; */
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;

}
.box:after{
    content: '';
    position: absolute;
    top: -20px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
/* Definindo as cores de hightlight dos containers  */
.box:nth-child(1):before,
.box:nth-child(1):after{
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.box:nth-child(2):before,
.box:nth-child(2):after{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(3):before,
.box:nth-child(3):after{
    background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}
.box:nth-child(7):before,
.box:nth-child(7):after{
    background: linear-gradient(235deg,#010615,#00bcd4,#89ff00);
}
.box:nth-child(6):before,
.box:nth-child(6):after{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(5):before,
.box:nth-child(5):after{
    background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}
.box:nth-child(4):before,
.box:nth-child(4):after{
    background: linear-gradient(235deg,#00bcd4,#010615,#89ff00);
}

.box .content{
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 50px;
    background: rgba(10, 60, 146, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .1;
    transition: .5s;
    text-align: center;
}

.box:hover .content{
    opacity: 1;
    transition: 1.5s;
}

.box .content h2{  
    top: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
 span{
    color: rgb(111, 108, 108);
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
}
